
body
{
	background-color: lightgreen;
	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 20% 0 20%;
}

h1
{
	color: black;
}

p
{
	
}

#footer
{
	height: 500px;
}

#canvas
{
	border: solid;
	border-color: black;
	border-width: 1px;
}