
body
{
	background-color: white;
	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 20% 0 20%;
}

h1
{
	color: black;
}

p
{
	
}

pre.sh_sourceCode
{
  background-color: white;
  color: black;
  font-style: normal;
  font-weight: normal;
}


#footer
{
	height: 500px;
}

#canvas
{
	border: solid;
	border-color: black;
	border-width: 1px;
}