body {
	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 20% 0 20%;
}

#footer {
	height: 500px;
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 0 50px 0 50px;
}

canvas {
	border: solid;
	border-color: black;
	border-width: 1px;
	z-index: 2;
}
